<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>User Login</h2>

<form th:action="@{/user/login}" th:object="${user}" method="post">

    <label>Email:</label>
    <input type="email" th:field="*{email}" />
    <br/>

    <label>Password:</label>
    <input type="password" th:field="*{password}" />
    <br/>

    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>

    <button type="submit">Login</button>
</form>

<a th:href="@{/user/register}">Create Account</a>

</body>
</html>