body {
    font-family: Arial;
    background-color: #f4f6f9;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

.btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}